body {
			background-color: #B9E8DB;
		}

h1{
	font-family: 'Seaweed Script', cursive;
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 50px;
	color:rgba(200,0,50,.7);
	text-align: center;

}

p.sheeran{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 20px;
	margin-top: 5px;
	color:gray;
}

p{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

p.chorus{
	text-align: center;
	font-family: 'Seaweed Script', cursive;
	font-size: 23px;
	color:rgba(200,0,50,.7);
}

p.verse{
	text-align: center;
}

p.bridge{
	text-align: center;
	font-family: 'Seaweed Script', cursive;
	font-size: 23px;
	color:#E5961C  ;

}

span{
	color:#931D4A;
}
